/*=============================================================================
                                    containers
===============================================================================*/
.container {
  width: 90%;
  max-width: 1700px;
  margin-inline: auto;
}
/*=============================================================================
                                        app
==============================================================================*/
.app {
  display: flex;
  padding: var(--space-xl);
  min-height: 100vh;
}

/*=============================================================================
                                        main
===============================================================================*/
.main {
  flex: 1;
}

.sidebar {
  width: var(--sidebar-width);
}
.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "hero hero hero"
    "slider slider slider"
    "terminal installer commands";
  gap: var(--dashboard-gap);
}
/*==============================================================================
                                    hero
================================================================================*/
.hero {
  grid-area: hero;
}

.hero > .container {
  display: flex;
  flex-direction: column;
}

.hero-header {
  display: flex;
  justify-content: space-between;
}
.hero-body {
  display: flex;
}
.hero-main {
  display: flex;
  flex-direction: column;
  flex: 6;
}
.hero-overview {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}
.hero-specs {
  display: flex;
}
.hero-why {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 4;
}
.hero-footer {
  display: flex;
}
.distro-slider {
  grid-area: slider;
}

.terminal-panel {
  grid-area: terminal;
}
.installer-panel {
  grid-area: installer;
}
.command-panel {
  grid-area: commands;
}

.distro-slider {
  display: flex;
}
