.app{
    display: flex;
    padding: 25px;
    height: 100vh;
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sidebar{
    width: 260px;
}
.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "hero hero hero"
    "slider slider slider"
    "terminal installer commands";
    gap: var(--dashboard-gap);
   

}

.header{
    height: 150px;
}

.hero {
  grid-area: hero;
  display: flex;
  flex-direction: column;
}

.hero-header{
  display: flex;
}
.hero-body{
  display: flex;
}
.hero-footer{
  display: flex;
}
.distro-slider {
  grid-area: slider;
}

.terminal-panel {
  grid-area: terminal;
}
.installer-panel {
  grid-area: installer;
}
.command-panel {
  grid-area: commands;
}

.distro-slider{
  display: flex;
}